/*
IDs

*/
#table-container{

}

/*
Classes
*/
.trans-data{
    margin:auto;
    text-align:center;
    width:50%;
}
.table{
    width:40%;
    margin-left: 35%;
    
}
.table-debit{
    text-align: right;
    width:20%;
}
.table-credit{
    text-align: right;
    width:20%;
}
.table-h2{
    text-align:center;
    margin-top: 80px;
}
.space{
    margin:20px;
}
.totalCredits{
        border-top:2px solid black;
        text-decoration-line:underline;
        text-decoration-style:double;
}
.totalDebits{
    border-top:2px solid black;
    text-decoration-line:underline;
    text-decoration-style:double;
    
}
.overline{
    text-decoration-line: overline;
}
legend{
    margin-top:100px;
    margin-bottom:20px;
}