/*
IDs

*/


/*
Classes
*/
.trans-data{
    margin:auto;
    text-align:center;
    width:50%;
}
.table{
    width:40%;
    margin-left: 35%;
    
}
.table-debit{
    text-align: right;
    width:20%;
}
.table-credit{
    text-align: right;
    width:20%;
}
.table-h2{
    text-align:center;
    margin-top: 80px;
}
.table2{
    width:75%;
    margin-left: auto;
    margin-right:auto;
    
}
.table2 th, .table2 td{
    text-align: center;
}
.space{
    margin:20px;
}
.totalCredits{
        border-top:2px solid black;
        text-decoration-line:underline;
        text-decoration-style:double;
}
.totalDebits{
    border-top:2px solid black;
    text-decoration-line:underline;
    text-decoration-style:double;
    
}
.overline{
    text-decoration-line: overline;
}
.whitespace{
    height:50px;
    width:100px;
}
legend{
    margin-top:100px;
    margin-bottom:20px;
}